body {
    font-family: Arial, sans-serif;
    
    background-image: url('assets/hrbackg1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    text-align: center;
    border: 1px solid #333; 
     border-radius: 8px;
    padding: 3rem;
    width: 380px;  
    background-color: white; 
    margin-left: 38%;
    margin-top: 5%;
}

.dashboard-header {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: black; /* Dark text color */
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between buttons */
}

.dashboard-btn {
    border: 2px solid  rgb(134, 131, 185); 
    background-color:rgb(134, 131, 185); ; /* Transparent background */
    color: white; /* Blue text color */
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.dashboard-btn:hover {
    background-color: #0056b3 ; /* Blue background on hover */
    color: white; /* White text on hover */
}
