<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="../static/Css/Login.css">
</head>
<body>

  <div class="login-container">
    <h1>Reset Password🔐</h1>
    <form method="post" action="/forgot-password">
      <label>Email:</label>
      <input type="email" name="email" placeholder="Email Address" required>
      <button type="submit">Send Reset Link</button>
    </form>
    
    <p>Remembered your password? <a href="/login">Login</a></p>
  </div>
</body>
</html>
