<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="../static/Css/HRDashboard.css">
</head>

<body>
    {% include 'Navbar.html' %}
    <main>
        <div class="dashboard-container">
            <h1 class="dashboard-header">HR Dashboard</h1>
            <div class="button-group">
                <button class="dashboard-btn" onclick="window.location.href='/viewApplications'">View
                    Applications</button>
                <button class="dashboard-btn" onclick="window.location.href='/postnewjob'">Post New Job</button>

            </div>
        </div>
    </main>

    <!-- <script src="../static/JavaScript/HRcards.js"></script> -->
    <script>
        validateToken()
        async function validateToken() {
            const token = localStorage.getItem("access_token");
            if (!token) {
                alert("Unauthorized access. Please log in.");
                window.location.href = "/login";

            }
        }
    </script>
</body>

</html>