<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="../static/Css/HRDashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    {% include 'Navbar.html' %}
    <main>
        <div class="dashboard-container">
            <h1 class="dashboard-header">HR Dashboard</h1>
            <div class="button-group">
                <button class="dashboard-btn" onclick="window.location.href='/viewApplications'">
                    View Applications <i class="fas fa-eye"></i>
                </button>
                <button class="dashboard-btn" onclick="window.location.href='/postnewjob'">
                    Post New Job <i class="fas fa-briefcase"></i>
                </button>
                <button class="dashboard-btn" onclick="window.location.href='/add-candidate'">
                    Add Candidate <i class="fas fa-user-plus"></i>
                </button>
                <button class="dashboard-btn" onclick="window.location.href='/joblist'">
                    Job List <i class="fas fa-list"></i>
                </button>
                <button class="dashboard-btn" onclick="window.location.href='/listCandidates'">
                    Candidates <i class="fas fa-users"></i>
                </button>
            </div>
        </div>

        </div>
    </main>

    <!-- <script src="../static/JavaScript/HRcards.js"></script> -->
    <script>
        validateToken()
        async function validateToken() {
            const token = localStorage.getItem("access_token");
            if (!token) {
                alert("Unauthorized access. Please log in.");
                window.location.href = "/login";

            }
        }
    </script>
</body>

</html>